* {
  margin: 0;
  padding: 0;
}

.sidebar {
  min-height: 100vw;
  min-width: 15vw;
  background-color: rgb(219, 216, 216);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}
